*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

html {
    direction: rtl;
  }
#home {
    background-image: url(../images/صورة-سحاب-2.jpg);
    background-size: cover;
    background-position: center center;
}
.navbar {
    background-color: transparent !important;
}

.imagesWork img{
    border-radius: 15px;
    border: 2px solid black;
}

.card {
    background-color: transparent;
    border: 1px solid black;
    box-shadow: 5px 5px 10px #555;
    display: flex;
    justify-content: center;
    align-items: center;
}



.secondWork {
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;

}

p {
    /* letter-spacing: 1px;
    word-spacing: 12px; */
    line-height: 2.5 !important;
}